Source: libdetection
Maintainer: Wallarm Package Team <support@wallarm.com>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 8), cmake, bison (>= 3.0), re2c, libcunit1-dev,
               libwallarmmisc-dev
Standards-Version: 3.9.4

Package: libdetection1-dev
Section: libdevel
Architecture: all
Depends: libwallarmmisc-dev, libdetection (= ${binary:Version})
Description: Development files for library to detect attacks
 Extendable library for detection syntaxes by formal notations. Can be used to
 detect injections and commanding attacks such as SQLi and others. Does not
 require attacks samples to learn.

Package: libdetection1-utils
Section: utils
Architecture: all
Depends: libdetection (= ${binary:Version})
Description: Utilities for signature-free approach library to detect attacks
 Extendable library for detection syntaxes by formal notations. Can be used to
 detect injections and commanding attacks such as SQLi and others. Does not
 require attacks samples to learn.

Package: libdetection1
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Signature-free approach library to detect attacks
 Extendable library for detection syntaxes by formal notations. Can be used to
 detect injections and commanding attacks such as SQLi and others. Does not
 require attacks samples to learn.
