#!/usr/bin/make -f

export LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)

override_dh_strip:
	dh_strip -X.a

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DENABLE_SHARED=1 -DENABLE_STATIC=1
